/*  your css code here. If applicable */
#btn{
	background-color: red;
	color: white;
	
	 border-radius: 10px;
	padding: 8px;
	
}
#image{
	width: 200px
}
#mainheading{
	
	width: 200px;
    padding: 50px;	
	background-color: hsl(0, 0%, 90%);
	
	box-shadow:  0px 0px 4px;

}